<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                {% if redirect_to_www %}
                <rule name="Redirect to www" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(?!www)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="http://www.{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
                {% endif %}
                {% if redirect_to_https %}
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
                {% endif %}
                {% if enable_compression %}
                <rule name="Compress static files" enabled="true">
                    <match url=".*\.(js|css|html|htm|png|jpg|jpeg|gif|bmp|ico|xml|txt|svg|json)$" />
                    <action type="Rewrite" url="gzip.aspx?url={R:0}" />
                    <conditions>
                        <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" />
                        <add input="{QUERY_STRING}" pattern="no-compression" negate="true" />
                    </conditions>
                </rule>
                {% endif %}
            </rules>
        </rewrite>
        <httpErrors errorMode="Detailed" />
        <security>
            <requestFiltering allowDoubleEscaping="true" />
            <ipSecurity allowUnlisted="false">
                <add ipAddress="127.0.0.1" allowed="true" />
            </ipSecurity>
        </security>
    </system.webServer>
</configuration>
